.settings-open img {
    width: 25px;  
    height: auto; 
}

.perfil-open img {
    width: 35px;  
    height: auto; 
}

.search img {
    width: 35px;  
    height: auto; 
}

.home-back img {
    width: 35px;  
    height: auto; 
}

.navbar {
    display: flex;
    justify-content: space-start; /* Cambio de 'space-start' a 'flex-start' */
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 3px -2px gray;
    background-color: #d9d9d9;
    position: relative; /* Esto es necesario para posicionar absolutamente el menú desplegable */
}

.settings-dropdown {
    position: absolute;
    top: 4rem; /* Asegura que el menú comience justo debajo del navbar */
    left: 10; /* Alinea el menú con el lado izquierdo del navbar */
    width: auto; /* Permite que el menú defina su propio ancho */
    display: none; /* Oculta el menú por defecto */
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.settings-dropdown::before {
    content: '';
    position: absolute;
    top: -0.8rem;
    right: 9.1rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: #eeeeee;
    border-left: 1px solid;
    border-top: 1px solid;
}

.setting-item {
    /* Estilos para los elementos individuales dentro del menú */
    display: block;
    margin-bottom: 5px; /* Aumenta el espacio entre botones */
    padding: 10px 15px; /* Ajusta el padding para dar más espacio */
    background-color: #eeeeee; /* Gris claro para el fondo de cada botón */
    color: black;
    text-align: left; /* Alinea el texto a la izquierda */
    text-decoration: none;
    width: 100%; /* Ocupa el ancho completo del menú */
    border-radius: 10px; /* Bordes redondeados para los botones */
    box-sizing: border-box;
}

.setting-item:last-child {
    margin-bottom: 10; /* Elimina el margen en el último elemento */
}

/* Clase para manejar la visibilidad del menú desplegable */
.settings-open .settings-dropdown {
    display: flex; /* Muestra el menú cuando se hace clic en el ícono de configuración */
}

.perfil-dropdown {
    position: absolute;
    top: 4rem; /* Asegura que el menú comience justo debajo del navbar */
    right: 0.5rem;
    width: auto; /* Permite que el menú defina su propio ancho */
    display: none; /* Oculta el menú por defecto */
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.perfil-dropdown::before {
    content: '';
    position: absolute;
    top: -0.8rem;
    right: 0.7rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: #eeeeee;
    border-left: 1px solid;
    border-top: 1px solid;
}

.perfil-item {
    /* Estilos para los elementos individuales dentro del menú */
    display: block;
    margin-bottom: 5px; /* Aumenta el espacio entre botones */
    padding: 10px 15px; /* Ajusta el padding para dar más espacio */
    background-color: #eeeeee; /* Gris claro para el fondo de cada botón */
    color: black;
    text-align: left; /* Alinea el texto a la izquierda */
    text-decoration: none;
    width: 100%; /* Ocupa el ancho completo del menú */
    border-radius: 10px; /* Bordes redondeados para los botones */
    box-sizing: border-box;
}

.perfil-item:last-child {
    margin-bottom: 10; /* Elimina el margen en el último elemento */
}

/* Clase para manejar la visibilidad del menú desplegable */
.perfil-open .perfil-dropdown {
    display: flex; /* Muestra el menú cuando se hace clic en el ícono de configuración */
}
